
.amonguscontainer2 {
  position: absolute;
  top: 220px;
  left: 650px;
  transform: scale(-0.6, 0.6);
  transform-origin: top left;
  transition: transform 0.5s ease;
}

.amonguscontainer2:hover {
  transform: scale(-0.9, 0.9)
  
}
.amongus1 {
  position: relative;

}
  
  .box1 {
    background-color: #11093c;
    box-sizing: border-box;
    width: 200px;
    height: 280px;
    padding: 20px;
    border: 15px solid rgb(0, 0, 0);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom: none;
    overflow: visible;
    position: relative
  }
  .eye1 {
    position: absolute;
    background-color: #04718d;
    box-sizing: border-box;
    border: 15px solid black;
    width: 180px;
    height: 100px;
    padding: 20px;
    border-top-right-radius: 50px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 40px;
    z-index: 2;      /* make sure eye is on top */
  
  }
  .shadowbody1 {
    background-color: rgb(5, 9, 231);
    width: 160px;
    height: 250px;
    margin-top: -20px;
    margin-left: -10px;
    border-top-left-radius: 150px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 190px;
    border-bottom-right-radius: 170px;
    border-bottom: none;
    opacity: 0.2;
    z-index: 1; 
  }
  .feetleft1 {
    position: absolute;
    left: -15px;
    background-color: #11093c;
    width: 70px;
    height: 70px;
    border-bottom-left-radius: 20px;
    border: 15px solid black;
    border-top: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 50px;
    
  }
  .feetright1 {
    position: absolute;
    left: 85px;
    background-color: #11093c;
    width: 70px;
    height: 70px;
    border: 15px solid black;
    border-top: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 63px;
  }
  .eyecolor1 {
    position: absolute;
    left: 60px;
    top: 35px;
    background-color: #5dbcef;
    width: 120px;
    height: 50px;
    z-index: 2;
    overflow: visible;
    border-top-left-radius: 22px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 120px;
    border: 2px solid black;
    border-bottom: none;
  }
  .eyewhite1 {
    background-color: white;
    position: absolute;
    left: 100px;
    top: 45px;
    width: 62px;
    height: 16px;
    z-index: 2;
    overflow: visible;
    border-top-left-radius: 87px;
    border-top-right-radius: 94px;
    border-bottom-left-radius: 62px;
    border-bottom-right-radius: 82px;
  
  }
  .bag1 {
    background-color: #11093c;
    position: absolute;
    z-index: 1;
    top: 90px;
    left: -57px;
    width: 30px;
    height: 120px;
    overflow: visible;
    border: 13px solid black;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 66px;
    border-right: none;
  }
  .shadowfoot1 {
    background-color: #5c5959;
    width: 270px;
    height: 150px;
    top: 250px;
    left: -35px;
    opacity: 0.5;
    position: absolute;
    border-radius: 350px;
    filter: blur(7px);
  }